Here I start cleaning and organizend the data for analysis

In [24]:
# Getting data from internet
import pandas as pd
import requests
import json
import time
import import_ipynb
import matplotlib.pyplot as plt
%run 'functions.ipynb'

In [25]:
# import data.csv /Users/jeanstibel/Documents/AI Classes/Projects/project_01/data_exported/data_50_day.csv
data = pd.read_csv('/Users/jeanstibel/Documents/AI Classes/Projects/project_01/data_exported/data_50_day.csv')

# set data in to a dataframe
dt_50_df = pd.DataFrame(data)
dt_50_df

,timestamp,crypto_id,open,close,high,low,volume,quote_asset_volume,number_of_trades,taker_buy_base_asset_volume,taker_buy_quote_asset_volume
0,2017-08-17,BTC,4261.48000,4285.08000,4485.39000,4200.74000,7.951504e+02,3.454770e+06,3427,6.162485e+02,2.678216e+06
1,2017-08-17,ETH,301.13000,302.00000,312.18000,298.00000,7.030710e+03,2.154655e+06,4522,6.224590e+03,1.908705e+06
2,2017-08-18,BTC,4285.08000,4108.37000,4371.52000,3938.77000,1.199888e+03,5.086958e+06,5233,9.728687e+02,4.129123e+06
3,2017-08-18,ETH,302.00000,293.96000,311.79000,283.94000,9.537846e+03,2.858947e+06,5658,7.452435e+03,2.240813e+06
4,2017-08-19,BTC,4108.37000,4139.98000,4184.69000,3850.00000,3.813098e+02,1.549484e+06,2153,2.743360e+02,1.118002e+06
...,...,...,...,...,...,...,...,...,...,...,...
99250,2024-12-28,XLM,0.34990,0.34610,0.35110,0.34610,1.050560e+07,3.667653e+06,10592,3.889979e+06,1.359598e+06
99251,2024-12-28,XRP,2.14670,2.14200,2.15820,2.13430,1.438313e+07,3.088660e+07,74543,6.249458e+06,1.342425e+07
99252,2024-12-28,XTZ,1.34300,1.34600,1.35500,1.32800,6.916420e+05,9.285860e+05,3524,3.620972e+05,4.861648e+05
99253,2024-12-28,ZEC,62.13000,61.85000,62.47000,61.55000,1.127272e+04,6.989993e+05,5190,4.280262e+03,2.656032e+05
99254,2024-12-28,ZIL,0.02108,0.02128,0.02146,0.02097,2.592660e+07,5.508911e+05,2398,1.214132e+07,2.582827e+05

In [26]:
# Find shape of the data (rows, columns)
dt_50_df.shape

(99255, 11)

In [27]:
dt_50_df.tail()

,timestamp,crypto_id,open,close,high,low,volume,quote_asset_volume,number_of_trades,taker_buy_base_asset_volume,taker_buy_quote_asset_volume
99250,2024-12-28,XLM,0.34990,0.34610,0.35110,0.34610,1.050560e+07,3.667653e+06,10592,3.889979e+06,1.359598e+06
99251,2024-12-28,XRP,2.14670,2.14200,2.15820,2.13430,1.438313e+07,3.088660e+07,74543,6.249458e+06,1.342425e+07
99252,2024-12-28,XTZ,1.34300,1.34600,1.35500,1.32800,6.916420e+05,9.285860e+05,3524,3.620972e+05,4.861648e+05
99253,2024-12-28,ZEC,62.13000,61.85000,62.47000,61.55000,1.127272e+04,6.989993e+05,5190,4.280262e+03,2.656032e+05
99254,2024-12-28,ZIL,0.02108,0.02128,0.02146,0.02097,2.592660e+07,5.508911e+05,2398,1.214132e+07,2.582827e+05

In [28]:
# Drop columns that are not needed, 'taker_buy_quote_asset_volume', 'quote_asset_volume'
dt_50_df = dt_50_df.drop(['taker_buy_base_asset_volume', 'taker_buy_quote_asset_volume', 'quote_asset_volume'], axis=1)
dt_50_df

,timestamp,crypto_id,open,close,high,low,volume,number_of_trades
0,2017-08-17,BTC,4261.48000,4285.08000,4485.39000,4200.74000,7.951504e+02,3427
1,2017-08-17,ETH,301.13000,302.00000,312.18000,298.00000,7.030710e+03,4522
2,2017-08-18,BTC,4285.08000,4108.37000,4371.52000,3938.77000,1.199888e+03,5233
3,2017-08-18,ETH,302.00000,293.96000,311.79000,283.94000,9.537846e+03,5658
4,2017-08-19,BTC,4108.37000,4139.98000,4184.69000,3850.00000,3.813098e+02,2153
...,...,...,...,...,...,...,...,...
99250,2024-12-28,XLM,0.34990,0.34610,0.35110,0.34610,1.050560e+07,10592
99251,2024-12-28,XRP,2.14670,2.14200,2.15820,2.13430,1.438313e+07,74543
99252,2024-12-28,XTZ,1.34300,1.34600,1.35500,1.32800,6.916420e+05,3524
99253,2024-12-28,ZEC,62.13000,61.85000,62.47000,61.55000,1.127272e+04,5190
99254,2024-12-28,ZIL,0.02108,0.02128,0.02146,0.02097,2.592660e+07,2398

In [29]:
# Convert 'timestamp' to datetime
dt_50_df['timestamp'] = pd.to_datetime(dt_50_df['timestamp'])

# Get the list of year in the column 'timestamp'
years = dt_50_df['timestamp'].dt.year.unique()

# Get list in order
years.sort()
years

array([2017, 2018, 2019, 2020, 2021, 2022, 2023, 2024], dtype=int32)

In [30]:
# Get number of unique crypto_id for each year
unique_cryptos = {year: dt_50_df[dt_50_df['timestamp'].dt.year == year]['crypto_id'].nunique() for year in years}
unique_cryptos

{np.int32(2017): 5,
 np.int32(2018): 14,
 np.int32(2019): 33,
 np.int32(2020): 47,
 np.int32(2021): 50,
 np.int32(2022): 50,
 np.int32(2023): 50,
 np.int32(2024): 50}

In [31]:
# Get names of crypto_id of unique_crypto for each year
crypto_names = {year: dt_50_df[dt_50_df['timestamp'].dt.year == year]['crypto_id'].unique() for year in years}

# Print by year
for year in years:
    print(f'{year}: {crypto_names[year]}')

2017: ['BTC' 'ETH' 'BNB' 'NEO' 'LTC']
2018: ['BNB' 'BTC' 'ETH' 'LTC' 'NEO' 'QTUM' 'ADA' 'XRP' 'EOS' 'IOTA' 'XLM' 'TRX'
 'ETC' 'VET']
2019: ['ADA' 'BNB' 'BTC' 'EOS' 'ETC' 'ETH' 'IOTA' 'LTC' 'NEO' 'QTUM' 'TRX' 'VET'
 'XLM' 'XRP' 'LINK' 'WAVES' 'ZIL' 'BAT' 'ZEC' 'IOST' 'DASH' 'THETA' 'ENJ'
 'MATIC' 'ATOM' 'TFUEL' 'ALGO' 'DOGE' 'CHZ' 'XTZ' 'RVN' 'HBAR' 'BCH']
2020: ['ADA' 'ALGO' 'ATOM' 'BAT' 'BCH' 'BNB' 'BTC' 'CHZ' 'DASH' 'DOGE' 'ENJ'
 'EOS' 'ETC' 'ETH' 'HBAR' 'IOST' 'IOTA' 'LINK' 'LTC' 'MATIC' 'NEO' 'QTUM'
 'RVN' 'TFUEL' 'THETA' 'TRX' 'VET' 'WAVES' 'XLM' 'XRP' 'XTZ' 'ZEC' 'ZIL'
 'STMX' 'MANA' 'SOL' 'SAND' 'CRV' 'DOT' 'SUSHI' 'UNI' 'AVAX' 'NEAR' 'AAVE'
 'FIL' 'XEM' 'GRT']
2021: ['AAVE' 'ADA' 'ALGO' 'ATOM' 'AVAX' 'BAT' 'BCH' 'BNB' 'BTC' 'CHZ' 'CRV'
 'DASH' 'DOGE' 'DOT' 'ENJ' 'EOS' 'ETC' 'ETH' 'FIL' 'GRT' 'HBAR' 'IOST'
 'IOTA' 'LINK' 'LTC' 'MANA' 'MATIC' 'NEAR' 'NEO' 'QTUM' 'RVN' 'SAND' 'SOL'
 'STMX' 'SUSHI' 'TFUEL' 'THETA' 'TRX' 'UNI' 'VET' 'WAVES' 'XEM' 'XLM'
 'XRP' 'XTZ' 'ZEC' 'ZIL' 'CAKE' 'SHIB' 'ICP']
2022: ['AAVE' 'ADA' 'ALGO' 'ATOM' 'AVAX' 'BAT' 'BCH' 'BNB' 'BTC' 'CAKE' 'CHZ'
 'CRV' 'DASH' 'DOGE' 'DOT' 'ENJ' 'EOS' 'ETC' 'ETH' 'FIL' 'GRT' 'HBAR'
 'ICP' 'IOST' 'IOTA' 'LINK' 'LTC' 'MANA' 'MATIC' 'NEAR' 'NEO' 'QTUM' 'RVN'
 'SAND' 'SHIB' 'SOL' 'STMX' 'SUSHI' 'TFUEL' 'THETA' 'TRX' 'UNI' 'VET'
 'WAVES' 'XEM' 'XLM' 'XRP' 'XTZ' 'ZEC' 'ZIL']
2023: ['AAVE' 'ADA' 'ALGO' 'ATOM' 'AVAX' 'BAT' 'BCH' 'BNB' 'BTC' 'CAKE' 'CHZ'
 'CRV' 'DASH' 'DOGE' 'DOT' 'ENJ' 'EOS' 'ETC' 'ETH' 'FIL' 'GRT' 'HBAR'
 'ICP' 'IOST' 'IOTA' 'LINK' 'LTC' 'MANA' 'MATIC' 'NEAR' 'NEO' 'QTUM' 'RVN'
 'SAND' 'SHIB' 'SOL' 'STMX' 'SUSHI' 'TFUEL' 'THETA' 'TRX' 'UNI' 'VET'
 'WAVES' 'XEM' 'XLM' 'XRP' 'XTZ' 'ZEC' 'ZIL']
2024: ['AAVE' 'ADA' 'ALGO' 'ATOM' 'AVAX' 'BAT' 'BCH' 'BNB' 'BTC' 'CAKE' 'CHZ'
 'CRV' 'DASH' 'DOGE' 'DOT' 'ENJ' 'EOS' 'ETC' 'ETH' 'FIL' 'GRT' 'HBAR'
 'ICP' 'IOST' 'IOTA' 'LINK' 'LTC' 'MANA' 'MATIC' 'NEAR' 'NEO' 'QTUM' 'RVN'
 'SAND' 'SHIB' 'SOL' 'STMX' 'SUSHI' 'TFUEL' 'THETA' 'TRX' 'UNI' 'VET'
 'WAVES' 'XEM' 'XLM' 'XRP' 'XTZ' 'ZEC' 'ZIL']

In [32]:
# Rename column 'timestamp' to 'date'
dt_50_df.rename(columns={'timestamp': 'date'}, inplace=True)
dt_50_df

,date,crypto_id,open,close,high,low,volume,number_of_trades
0,2017-08-17,BTC,4261.48000,4285.08000,4485.39000,4200.74000,7.951504e+02,3427
1,2017-08-17,ETH,301.13000,302.00000,312.18000,298.00000,7.030710e+03,4522
2,2017-08-18,BTC,4285.08000,4108.37000,4371.52000,3938.77000,1.199888e+03,5233
3,2017-08-18,ETH,302.00000,293.96000,311.79000,283.94000,9.537846e+03,5658
4,2017-08-19,BTC,4108.37000,4139.98000,4184.69000,3850.00000,3.813098e+02,2153
...,...,...,...,...,...,...,...,...
99250,2024-12-28,XLM,0.34990,0.34610,0.35110,0.34610,1.050560e+07,10592
99251,2024-12-28,XRP,2.14670,2.14200,2.15820,2.13430,1.438313e+07,74543
99252,2024-12-28,XTZ,1.34300,1.34600,1.35500,1.32800,6.916420e+05,3524
99253,2024-12-28,ZEC,62.13000,61.85000,62.47000,61.55000,1.127272e+04,5190
99254,2024-12-28,ZIL,0.02108,0.02128,0.02146,0.02097,2.592660e+07,2398

In [33]:
# Apply function group_by_month 
dt_50_df_M = group_by_month(dt_50_df)
dt_50_df_M

,date_month,crypto_id,open,close,diff_oc,high,low,diff_hl,volume,number_of_trades
0,2017-08,BTC,4261.48000,4724.89000,463.41000,4745.42000,3400.00000,1345.42000,1.001564e+04,69180
1,2017-08,ETH,301.13000,384.79000,83.66000,393.71000,144.21000,249.50000,8.265256e+04,73552
2,2017-09,BTC,4724.89000,4378.51000,-346.38000,4939.19000,2817.00000,2122.19000,2.763419e+04,228745
3,2017-09,ETH,384.79000,304.36000,-80.43000,394.39000,192.00000,202.39000,1.679371e+05,177180
4,2017-10,BTC,4378.49000,6463.00000,2084.51000,6498.01000,4110.00000,2388.01000,4.162639e+04,303389
...,...,...,...,...,...,...,...,...,...,...
3287,2024-12,XLM,0.52490,0.34610,-0.17880,0.60810,0.31260,0.29550,1.008405e+10,12182544
3288,2024-12,XRP,1.95140,2.14200,0.19060,2.90920,1.84750,1.06170,2.037518e+10,91991369
3289,2024-12,XTZ,1.67100,1.34600,-0.32500,1.90900,1.08100,0.82800,6.008276e+08,2349053
3290,2024-12,ZEC,59.30000,61.85000,2.55000,79.33000,41.10000,38.23000,7.189654e+06,2961589
3291,2024-12,ZIL,0.02645,0.02128,-0.00517,0.03771,0.01785,0.01986,1.704533e+10,2326768

In [14]:
# Calculate the difference 'open' and 'close' amount for each day, create new column 'diff_oc'
#dt_50_df['diff_oc'] = dt_50_df['close'] - dt_50_df['open']

# Calculate the difference 'high' and 'low' amount for each day, create new column 'diff_hl'
#dt_50_df['diff_hl'] = dt_50_df['high'] - dt_50_df['low']


# Apply the function to the dataframe
dt_50_df_M = calculate_diff(dt_50_df_M)
dt_50_df_M

,date_month,crypto_id,open,close,diff_oc,high,low,diff_hl,volume,number_of_trades
0,2017-08,BTC,4261.48000,4724.89000,463.41000,4745.42000,3400.00000,1345.42000,1.001564e+04,69180
1,2017-08,ETH,301.13000,384.79000,83.66000,393.71000,144.21000,249.50000,8.265256e+04,73552
2,2017-09,BTC,4724.89000,4378.51000,-346.38000,4939.19000,2817.00000,2122.19000,2.763419e+04,228745
3,2017-09,ETH,384.79000,304.36000,-80.43000,394.39000,192.00000,202.39000,1.679371e+05,177180
4,2017-10,BTC,4378.49000,6463.00000,2084.51000,6498.01000,4110.00000,2388.01000,4.162639e+04,303389
...,...,...,...,...,...,...,...,...,...,...
3287,2024-12,XLM,0.52490,0.34610,-0.17880,0.60810,0.31260,0.29550,1.008405e+10,12182544
3288,2024-12,XRP,1.95140,2.14200,0.19060,2.90920,1.84750,1.06170,2.037518e+10,91991369
3289,2024-12,XTZ,1.67100,1.34600,-0.32500,1.90900,1.08100,0.82800,6.008276e+08,2349053
3290,2024-12,ZEC,59.30000,61.85000,2.55000,79.33000,41.10000,38.23000,7.189654e+06,2961589
3291,2024-12,ZIL,0.02645,0.02128,-0.00517,0.03771,0.01785,0.01986,1.704533e+10,2326768

In [34]:
# Calculate the mean between 'open' and 'close' amount for each day, create new column 'mean_oc'
# Calculate the mean between  'high' and 'low' amount for each day, create new column 'mean_hl'

'''
# Calculate the mean between 'open' and 'close' amount for each day, create new column 'mean_oc'
dt_50_df['mean_oc'] = (dt_50_df['open'] + dt_50_df['close']) / 2
# Calculate the mean between  'high' and 'low' amount for each day, create new column 'mean_hl'
dt_50_df['mean_hl'] = (dt_50_df['high'] + dt_50_df['low']) / 2
'''

dt_50_df_M = calculate_means(dt_50_df_M)

dt_50_df_M

,date_month,crypto_id,open,close,diff_oc,high,low,diff_hl,volume,number_of_trades,mean_oc,mean_hl
0,2017-08,BTC,4261.48000,4724.89000,463.41000,4745.42000,3400.00000,1345.42000,1.001564e+04,69180,4493.185000,4072.71000
1,2017-08,ETH,301.13000,384.79000,83.66000,393.71000,144.21000,249.50000,8.265256e+04,73552,342.960000,268.96000
2,2017-09,BTC,4724.89000,4378.51000,-346.38000,4939.19000,2817.00000,2122.19000,2.763419e+04,228745,4551.700000,3878.09500
3,2017-09,ETH,384.79000,304.36000,-80.43000,394.39000,192.00000,202.39000,1.679371e+05,177180,344.575000,293.19500
4,2017-10,BTC,4378.49000,6463.00000,2084.51000,6498.01000,4110.00000,2388.01000,4.162639e+04,303389,5420.745000,5304.00500
...,...,...,...,...,...,...,...,...,...,...,...,...
3287,2024-12,XLM,0.52490,0.34610,-0.17880,0.60810,0.31260,0.29550,1.008405e+10,12182544,0.435500,0.46035
3288,2024-12,XRP,1.95140,2.14200,0.19060,2.90920,1.84750,1.06170,2.037518e+10,91991369,2.046700,2.37835
3289,2024-12,XTZ,1.67100,1.34600,-0.32500,1.90900,1.08100,0.82800,6.008276e+08,2349053,1.508500,1.49500
3290,2024-12,ZEC,59.30000,61.85000,2.55000,79.33000,41.10000,38.23000,7.189654e+06,2961589,60.575000,60.21500
3291,2024-12,ZIL,0.02645,0.02128,-0.00517,0.03771,0.01785,0.01986,1.704533e+10,2326768,0.023865,0.02778

In [35]:
# Rearange the columns
dt_50_df_M = dt_50_df_M[['date_month', 'crypto_id', 'open', 'close', 'diff_oc', 'mean_oc', 
                         'high', 'low', 'diff_hl', 'mean_hl', 'volume',
                         'number_of_trades']]
dt_50_df_M

,date_month,crypto_id,open,close,diff_oc,mean_oc,high,low,diff_hl,mean_hl,volume,number_of_trades
0,2017-08,BTC,4261.48000,4724.89000,463.41000,4493.185000,4745.42000,3400.00000,1345.42000,4072.71000,1.001564e+04,69180
1,2017-08,ETH,301.13000,384.79000,83.66000,342.960000,393.71000,144.21000,249.50000,268.96000,8.265256e+04,73552
2,2017-09,BTC,4724.89000,4378.51000,-346.38000,4551.700000,4939.19000,2817.00000,2122.19000,3878.09500,2.763419e+04,228745
3,2017-09,ETH,384.79000,304.36000,-80.43000,344.575000,394.39000,192.00000,202.39000,293.19500,1.679371e+05,177180
4,2017-10,BTC,4378.49000,6463.00000,2084.51000,5420.745000,6498.01000,4110.00000,2388.01000,5304.00500,4.162639e+04,303389
...,...,...,...,...,...,...,...,...,...,...,...,...
3287,2024-12,XLM,0.52490,0.34610,-0.17880,0.435500,0.60810,0.31260,0.29550,0.46035,1.008405e+10,12182544
3288,2024-12,XRP,1.95140,2.14200,0.19060,2.046700,2.90920,1.84750,1.06170,2.37835,2.037518e+10,91991369
3289,2024-12,XTZ,1.67100,1.34600,-0.32500,1.508500,1.90900,1.08100,0.82800,1.49500,6.008276e+08,2349053
3290,2024-12,ZEC,59.30000,61.85000,2.55000,60.575000,79.33000,41.10000,38.23000,60.21500,7.189654e+06,2961589
3291,2024-12,ZIL,0.02645,0.02128,-0.00517,0.023865,0.03771,0.01785,0.01986,0.02778,1.704533e+10,2326768

In [36]:
# Separate the data for each year from dt_50_df_M
'''
data_2017_M = dt_50_df_M[dt_50_df_M['date_month'].dt.year == 2017]
data_2018_M = dt_50_df_M[dt_50_df_M['date_month'].dt.year == 2018]
data_2019_M = dt_50_df_M[dt_50_df_M['date_month'].dt.year == 2019]
data_2020_M = dt_50_df_M[dt_50_df_M['date_month'].dt.year == 2020]
data_2021_M = dt_50_df_M[dt_50_df_M['date_month'].dt.year == 2021]
data_2022_M = dt_50_df_M[dt_50_df_M['date_month'].dt.year == 2022]
data_2023_M = dt_50_df_M[dt_50_df_M['date_month'].dt.year == 2023]
data_2024_M = dt_50_df_M[dt_50_df_M['date_month'].dt.year == 2024]
'''

data_by_year = create_dataframes_by_year(dt_50_df_M, years)

dt_2017_YM = data_by_year[2017]
dt_2018_YM = data_by_year[2018]
dt_2019_YM = data_by_year[2019]
dt_2020_YM = data_by_year[2020]
dt_2021_YM = data_by_year[2021]
dt_2022_YM = data_by_year[2022]
dt_2023_YM = data_by_year[2023]
dt_2024_YM = data_by_year[2024]

In [37]:
# Create a new dataframe all the years
dt_50_df_YM = pd.concat([dt_2017_YM, dt_2018_YM, dt_2019_YM, dt_2020_YM, dt_2021_YM, dt_2022_YM, dt_2023_YM, dt_2024_YM])
dt_50_df_YM.head(15)

,date_month,crypto_id,open,close,diff_oc,mean_oc,high,low,diff_hl,mean_hl,volume,number_of_trades
0,2017-08,BTC,4261.48,4724.890,463.410,4493.1850,4745.4200,3400.0000,1345.4200,4072.71000,1.001564e+04,69180
1,2017-08,ETH,301.13,384.790,83.660,342.9600,393.7100,144.2100,249.5000,268.96000,8.265256e+04,73552
2,2017-09,BTC,4724.89,4378.510,-346.380,4551.7000,4939.1900,2817.0000,2122.1900,3878.09500,2.763419e+04,228745
3,2017-09,ETH,384.79,304.360,-80.430,344.5750,394.3900,192.0000,202.3900,293.19500,1.679371e+05,177180
4,2017-10,BTC,4378.49,6463.000,2084.510,5420.7450,6498.0100,4110.0000,2388.0100,5304.00500,4.162639e+04,303389
5,2017-10,ETH,304.36,304.900,0.540,304.6300,354.0000,272.2000,81.8000,313.10000,2.311378e+05,214648
6,2017-11,BNB,1.50,1.950,0.450,1.7250,2.1997,0.5000,1.6997,1.34985,8.492160e+06,41544
7,2017-11,BTC,6463.00,9838.960,3375.960,8150.9800,11300.0300,5325.0100,5975.0200,8312.52000,1.084880e+05,577424
8,2017-11,ETH,304.89,427.430,122.540,366.1600,515.0000,274.7300,240.2700,394.86500,5.581401e+05,362825
9,2017-11,NEO,36.00,32.438,-3.562,34.2190,46.0000,29.1040,16.8960,37.55200,4.331592e+05,24742
10,2017-12,BNB,1.95,8.530,6.580,5.2400,11.3000,1.8801,9.4199,6.59005,3.376583e+07,675039
11,2017-12,BTC,9837.00,13716.360,3879.360,11776.6800,19798.6800,9380.0000,10418.6800,14589.34000,4.084767e+05,3082883
12,2017-12,ETH,428.05,733.980,305.930,581.0150,864.9000,375.0100,489.8900,619.95500,1.709681e+06,1717737
13,2017-12,LTC,272.00,223.690,-48.310,247.8450,366.9600,177.5800,189.3800,272.27000,5.350655e+05,317072
14,2017-12,NEO,32.38,74.853,42.473,53.6165,83.8000,30.2090,53.5910,57.00450,5.149193e+06,367588

In [38]:
# Get the list of unique crypto_id from the dataframe
unique_cryptos = dt_50_df_YM['crypto_id'].unique()

# Export the list to a csv file
unique_cryptos_df = pd.DataFrame(unique_cryptos, columns=['crypto_id'])
unique_cryptos_df.to_csv('/Users/jeanstibel/Documents/AI Classes/Projects/project_01/data_exported/unique_cryptos.csv', index=False)

unique_cryptos

array(['BTC', 'ETH', 'BNB', 'NEO', 'LTC', 'QTUM', 'ADA', 'EOS', 'IOTA',
       'XLM', 'XRP', 'ETC', 'TRX', 'VET', 'LINK', 'WAVES', 'ZIL', 'BAT',
       'DASH', 'IOST', 'ZEC', 'ATOM', 'ENJ', 'MATIC', 'THETA', 'TFUEL',
       'ALGO', 'DOGE', 'CHZ', 'HBAR', 'RVN', 'XTZ', 'BCH', 'STMX', 'CRV',
       'DOT', 'MANA', 'SAND', 'SOL', 'AVAX', 'SUSHI', 'UNI', 'AAVE',
       'FIL', 'NEAR', 'XEM', 'GRT', 'CAKE', 'ICP', 'SHIB'], dtype=object)

In [39]:
# Read csv file 'data_top_50/id_crypto names.csv' (file where the names of the cryptos are stored)
id_crypto_names = pd.read_csv('/Users/jeanstibel/Documents/AI Classes/Projects/project_01/data_exported/id_crypto names.csv')
id_crypto_names

   crypto_id                id_name
0        BTC                Bitcoin
1        ETH               Ethereum
2        BNB           Binance Coin
3        NEO                    NEO
4        LTC               Litecoin
5       QTUM                   Qtum
6        ADA                Cardano
7        EOS                 EOS.IO
8       IOTA                   IOTA
9        XLM                Stellar
10       XRP                 Ripple
11       ETC       Ethereum Classic
12       TRX                   TRON
13       VET                VeChain
14      LINK              Chainlink
15     WAVES                  Waves
16       ZIL                Zilliqa
17       BAT  Basic Attention Token
18      DASH                   Dash
19      IOST                   IOST
20       ZEC                  Zcash
21      ATOM                 Cosmos
22       ENJ             Enjin Coin
23     MATIC                Polygon
24     THETA          Theta Network
25     TFUEL             Theta Fuel
26      ALGO               Algorand
27      DOGE               Dogecoin
28       CHZ                 Chiliz
29      HBAR                 Hedera
30       RVN              Ravencoin
31       XTZ                  Tezos
32       BCH           Bitcoin Cash
33      STMX                 StormX
34       CRV        Curve DAO Token
35       DOT               Polkadot
36      MANA           Decentraland
37      SAND            The Sandbox
38       SOL                 Solana
39      AVAX              Avalanche
40     SUSHI              SushiSwap
41       UNI                Uniswap
42      AAVE                   Aave
43       FIL               Filecoin
44      NEAR          NEAR Protocol
45       XEM                    NEM
46       GRT              The Graph
47      CAKE            PancakeSwap
48       ICP      Internet Computer
49      SHIB              Shiba Inu

In [40]:
# Merge the dataframes 'dt_50_df_YM' and 'id_crypto_names' on 'crypto_id'
dt_50_df_YM = pd.merge(dt_50_df_YM, id_crypto_names, on='crypto_id')

# Rearange the columns
dt_50_df_YM = dt_50_df_YM[['date_month', 'crypto_id', 'id_name', 'open', 'close', 'diff_oc', 'mean_oc', 
                           'high', 'low', 'diff_hl', 'mean_hl', 'volume',
                           'number_of_trades']]
dt_50_df_YM

,date_month,crypto_id,id_name,open,close,diff_oc,mean_oc,high,low,diff_hl,mean_hl,volume,number_of_trades
0,2017-08,BTC,Bitcoin,4261.48000,4724.89000,463.41000,4493.185000,4745.42000,3400.00000,1345.42000,4072.71000,1.001564e+04,69180
1,2017-08,ETH,Ethereum,301.13000,384.79000,83.66000,342.960000,393.71000,144.21000,249.50000,268.96000,8.265256e+04,73552
2,2017-09,BTC,Bitcoin,4724.89000,4378.51000,-346.38000,4551.700000,4939.19000,2817.00000,2122.19000,3878.09500,2.763419e+04,228745
3,2017-09,ETH,Ethereum,384.79000,304.36000,-80.43000,344.575000,394.39000,192.00000,202.39000,293.19500,1.679371e+05,177180
4,2017-10,BTC,Bitcoin,4378.49000,6463.00000,2084.51000,5420.745000,6498.01000,4110.00000,2388.01000,5304.00500,4.162639e+04,303389
...,...,...,...,...,...,...,...,...,...,...,...,...,...
3287,2024-12,XLM,Stellar,0.52490,0.34610,-0.17880,0.435500,0.60810,0.31260,0.29550,0.46035,1.008405e+10,12182544
3288,2024-12,XRP,Ripple,1.95140,2.14200,0.19060,2.046700,2.90920,1.84750,1.06170,2.37835,2.037518e+10,91991369
3289,2024-12,XTZ,Tezos,1.67100,1.34600,-0.32500,1.508500,1.90900,1.08100,0.82800,1.49500,6.008276e+08,2349053
3290,2024-12,ZEC,Zcash,59.30000,61.85000,2.55000,60.575000,79.33000,41.10000,38.23000,60.21500,7.189654e+06,2961589
3291,2024-12,ZIL,Zilliqa,0.02645,0.02128,-0.00517,0.023865,0.03771,0.01785,0.01986,0.02778,1.704533e+10,2326768

In [41]:
# Save the data to a csv file
dt_50_df_YM.to_csv('/Users/jeanstibel/Documents/AI Classes/Projects/project_01/data_exported/dt_50_YM.csv', index=False)
dt_50_df_YM

,date_month,crypto_id,id_name,open,close,diff_oc,mean_oc,high,low,diff_hl,mean_hl,volume,number_of_trades
0,2017-08,BTC,Bitcoin,4261.48000,4724.89000,463.41000,4493.185000,4745.42000,3400.00000,1345.42000,4072.71000,1.001564e+04,69180
1,2017-08,ETH,Ethereum,301.13000,384.79000,83.66000,342.960000,393.71000,144.21000,249.50000,268.96000,8.265256e+04,73552
2,2017-09,BTC,Bitcoin,4724.89000,4378.51000,-346.38000,4551.700000,4939.19000,2817.00000,2122.19000,3878.09500,2.763419e+04,228745
3,2017-09,ETH,Ethereum,384.79000,304.36000,-80.43000,344.575000,394.39000,192.00000,202.39000,293.19500,1.679371e+05,177180
4,2017-10,BTC,Bitcoin,4378.49000,6463.00000,2084.51000,5420.745000,6498.01000,4110.00000,2388.01000,5304.00500,4.162639e+04,303389
...,...,...,...,...,...,...,...,...,...,...,...,...,...
3287,2024-12,XLM,Stellar,0.52490,0.34610,-0.17880,0.435500,0.60810,0.31260,0.29550,0.46035,1.008405e+10,12182544
3288,2024-12,XRP,Ripple,1.95140,2.14200,0.19060,2.046700,2.90920,1.84750,1.06170,2.37835,2.037518e+10,91991369
3289,2024-12,XTZ,Tezos,1.67100,1.34600,-0.32500,1.508500,1.90900,1.08100,0.82800,1.49500,6.008276e+08,2349053
3290,2024-12,ZEC,Zcash,59.30000,61.85000,2.55000,60.575000,79.33000,41.10000,38.23000,60.21500,7.189654e+06,2961589
3291,2024-12,ZIL,Zilliqa,0.02645,0.02128,-0.00517,0.023865,0.03771,0.01785,0.01986,0.02778,1.704533e+10,2326768

In [42]:
## I will compare the 2 datas to check what cryptos ID I have in both datas

# import csv from path '/Users/jeanstibel/Documents/AI Classes/Projects/01 Project/data_top_50/coin_stats.csv'
coin_stats = pd.read_csv('/Users/jeanstibel/Documents/AI Classes/Projects/01 Project/data_top_50/coin_stats.csv')
coin_stats

,id,name,symbol,rank,price,volume,marketCap,availableSupply,priceChange1h,priceChange1d,priceChange1w,websiteUrl
0,bitcoin,Bitcoin,BTC,1,102159.528029,1.228347e+11,2.023441e+12,19806681,-0.05,3.68,10.43,NaN
1,ethereum,Ethereum,ETH,2,3682.353557,2.900037e+10,4.436254e+11,120473322,0.02,1.31,10.02,https://www.ethereum.org/
2,ripple,XRP,XRP,3,2.410084,3.116955e+09,1.384570e+11,57449049415,-0.26,0.68,17.09,https://ripple.com/currency/
3,tether,Tether,USDT,4,0.999250,9.109439e+10,1.374169e+11,137520044570,0.10,0.15,0.13,https://tether.to/
4,binance-coin,BNB,BNB,5,728.959288,1.168635e+10,1.063461e+11,145887576,-1.07,2.93,3.35,https://www.binance.com
5,solana,Solana,SOL,6,218.296329,3.225918e+10,1.055864e+11,483683629,0.00,2.75,14.03,https://solana.com/
6,dogecoin,Dogecoin,DOGE,7,0.389805,3.725667e+09,5.748585e+10,147473186384,-0.18,1.25,24.21,NaN
7,usd-coin,USDC,USDC,8,0.999169,1.045629e+10,4.580193e+10,45844361527,-0.11,-0.09,-0.12,https://www.circle.com/en/usdc
8,cardano,Cardano,ADA,9,1.092419,1.140796e+09,3.916832e+10,35854678075,-0.60,0.16,26.84,https://cardano.org/
9,staked-ether,Lido Staked Ether,STETH,10,3677.710000,4.763444e+07,3.541770e+10,9635760,-0.15,1.38,9.70,https://www.lido.fi
10,tron,TRON,TRX,11,0.269224,3.657847e+08,2.320401e+10,86188469840,-0.09,2.14,6.22,https://tron.network
11,avalanche-2,Avalanche,AVAX,12,44.230000,6.349378e+08,1.814291e+10,410212641,0.60,4.02,23.13,https://www.avax.network
12,sui,Sui,SUI,13,5.088965,9.159202e+08,1.531559e+10,3009569342,0.28,-3.05,21.79,https://sui.io/
13,chainlink,Chainlink,LINK,14,23.713265,1.137502e+09,1.496544e+10,631099972,-0.44,0.49,15.23,https://chain.link/
14,the-open-network,Toncoin,TON,15,5.757149,1.039808e+08,1.462068e+10,2539569345,0.04,-0.27,3.18,https://ton.org/
15,shiba-inu,Shiba Inu,SHIB,16,0.000024,5.655373e+08,1.415765e+10,589255324664942,0.00,1.30,13.74,https://shibatoken.com/
16,stellar,Stellar,XLM,17,0.442951,5.466998e+08,1.344987e+10,30364262632,-0.43,0.97,33.52,https://www.stellar.org/
17,wrapped-bitcoin,Wrapped Bitcoin,WBTC,18,101371.000000,2.011120e+08,1.334786e+10,132030,-0.15,3.17,9.65,https://www.wbtc.network/
18,polkadot,Polkadot,DOT,19,7.749753,3.392130e+08,1.179719e+10,1522267060,-0.25,0.78,15.63,https://polkadot.com/
19,hedera-hashgraph,Hedera,HBAR,20,0.308123,5.141180e+08,1.178778e+10,38256671298,-0.97,1.61,10.75,https://www.hedera.com/

In [43]:
# rename columns 'id' to 'crypto_id' and 'name' to 'id_name'
coin_stats.rename(columns={'symbol': 'crypto_id', 'name': 'id_name'}, inplace=True)
coin_stats.head()

,id,id_name,crypto_id,rank,price,volume,marketCap,availableSupply,priceChange1h,priceChange1d,priceChange1w,websiteUrl
0,bitcoin,Bitcoin,BTC,1,102159.528029,1.228347e+11,2.023441e+12,19806681,-0.05,3.68,10.43,NaN
1,ethereum,Ethereum,ETH,2,3682.353557,2.900037e+10,4.436254e+11,120473322,0.02,1.31,10.02,https://www.ethereum.org/
2,ripple,XRP,XRP,3,2.410084,3.116955e+09,1.384570e+11,57449049415,-0.26,0.68,17.09,https://ripple.com/currency/
3,tether,Tether,USDT,4,0.999250,9.109439e+10,1.374169e+11,137520044570,0.10,0.15,0.13,https://tether.to/
4,binance-coin,BNB,BNB,5,728.959288,1.168635e+10,1.063461e+11,145887576,-1.07,2.93,3.35,https://www.binance.com

In [44]:
# Compare if all the crypto_id in 'coin_stats' are in 'dt_50_df_YM'

# Get the list of unique crypto_id from 'coin_stats'
coin_stats_ids = coin_stats['crypto_id'].unique()

# Get the list of unique crypto_id from 'dt_50_df_YM'
dt_50_df_YM_ids = dt_50_df_YM['crypto_id'].unique()

# Define the function to check if all crypto_ids are in the dataframe
all_crypto_ids_in = lambda coin_stats_ids, dt_50_df_YM_ids: all(crypto_id in dt_50_df_YM_ids for crypto_id in coin_stats_ids)
'''
def all_crypto_ids_in(coin_stats_ids, dt_50_df_YM_ids):
	return all(crypto_id in dt_50_df_YM_ids for crypto_id in coin_stats_ids)
'''
# Check if all the crypto_id from 'coin_stats' are in 'dt_50_df_YM'
all_crypto_ids = all_crypto_ids_in(coin_stats_ids, dt_50_df_YM_ids)
print('All crypto_ids in coin_stats are in dt_50_df_YM:', all_crypto_ids)

# what crypto_ids are not in 'dt_50_df_YM'
missing_crypto_ids = [crypto_id for crypto_id in coin_stats_ids if crypto_id not in dt_50_df_YM_ids]
missing_crypto_ids
print(f'All crypto_ids in coin_stats missing in dt_50_df_YM: {missing_crypto_ids}')

# Because the crypto_ids are past data missing for some crypto_id in 'coin_stats', 
# we will drop the crypto_id and work with the ones that we have history

All crypto_ids in coin_stats are in dt_50_df_YM: False
All crypto_ids in coin_stats missing in dt_50_df_YM: ['USDT', 'USDC', 'STETH', 'SUI', 'TON', 'WBTC']

In [45]:
# Drop the 'crypto_ids' that are not in 'coin_stats', crypto_ids: 'USDT', 'USDC', 'STETH', 'TON', 'SUI', 'WBTC', 'HYPE'
coin_stats = coin_stats[~coin_stats['crypto_id'].isin(missing_crypto_ids)]
coin_stats

,id,id_name,crypto_id,rank,price,volume,marketCap,availableSupply,priceChange1h,priceChange1d,priceChange1w,websiteUrl
0,bitcoin,Bitcoin,BTC,1,102159.528029,1.228347e+11,2.023441e+12,19806681,-0.05,3.68,10.43,NaN
1,ethereum,Ethereum,ETH,2,3682.353557,2.900037e+10,4.436254e+11,120473322,0.02,1.31,10.02,https://www.ethereum.org/
2,ripple,XRP,XRP,3,2.410084,3.116955e+09,1.384570e+11,57449049415,-0.26,0.68,17.09,https://ripple.com/currency/
4,binance-coin,BNB,BNB,5,728.959288,1.168635e+10,1.063461e+11,145887576,-1.07,2.93,3.35,https://www.binance.com
5,solana,Solana,SOL,6,218.296329,3.225918e+10,1.055864e+11,483683629,0.00,2.75,14.03,https://solana.com/
6,dogecoin,Dogecoin,DOGE,7,0.389805,3.725667e+09,5.748585e+10,147473186384,-0.18,1.25,24.21,NaN
8,cardano,Cardano,ADA,9,1.092419,1.140796e+09,3.916832e+10,35854678075,-0.60,0.16,26.84,https://cardano.org/
10,tron,TRON,TRX,11,0.269224,3.657847e+08,2.320401e+10,86188469840,-0.09,2.14,6.22,https://tron.network
11,avalanche-2,Avalanche,AVAX,12,44.230000,6.349378e+08,1.814291e+10,410212641,0.60,4.02,23.13,https://www.avax.network
13,chainlink,Chainlink,LINK,14,23.713265,1.137502e+09,1.496544e+10,631099972,-0.44,0.49,15.23,https://chain.link/
15,shiba-inu,Shiba Inu,SHIB,16,0.000024,5.655373e+08,1.415765e+10,589255324664942,0.00,1.30,13.74,https://shibatoken.com/
16,stellar,Stellar,XLM,17,0.442951,5.466998e+08,1.344987e+10,30364262632,-0.43,0.97,33.52,https://www.stellar.org/
18,polkadot,Polkadot,DOT,19,7.749753,3.392130e+08,1.179719e+10,1522267060,-0.25,0.78,15.63,https://polkadot.com/
19,hedera-hashgraph,Hedera,HBAR,20,0.308123,5.141180e+08,1.178778e+10,38256671298,-0.97,1.61,10.75,https://www.hedera.com/

In [46]:
# Get list name of the crypto_id in 'coin_stats'
crypto_id_names = coin_stats['crypto_id'].unique()
print(crypto_id_names)

# Create a dictionary with the crypto_id and the name
crypto_id_name = dict(zip(coin_stats['crypto_id'], coin_stats['id_name']))
print(crypto_id_name)

['BTC' 'ETH' 'XRP' 'BNB' 'SOL' 'DOGE' 'ADA' 'TRX' 'AVAX' 'LINK' 'SHIB'
 'XLM' 'DOT' 'HBAR']
{'BTC': 'Bitcoin', 'ETH': 'Ethereum', 'XRP': 'XRP', 'BNB': 'BNB', 'SOL': 'Solana', 'DOGE': 'Dogecoin', 'ADA': 'Cardano', 'TRX': 'TRON', 'AVAX': 'Avalanche', 'LINK': 'Chainlink', 'SHIB': 'Shiba Inu', 'XLM': 'Stellar', 'DOT': 'Polkadot', 'HBAR': 'Hedera'}

In [47]:
'''
# get volumn column in millions
dt_50_df_YM['volume'] = dt_50_df_YM['volume'] / 1000000
dt_50_df_YM
'''

"\n# get volumn column in millions\ndt_50_df_YM['volume'] = dt_50_df_YM['volume'] / 1000000\ndt_50_df_YM\n"

In [46]:
# Export the data to a csv file
dt_50_df_YM.to_csv('/Users/jeanstibel/Documents/AI Classes/Projects/project_01/data_exported/dt_50_YM.csv', index=False)

In [48]:
# Set 'date_month' as index and "crypto_id"
dt_2017_YM = set_index_and_display(dt_2017_YM, ['date_month', 'crypto_id'])
dt_2018_YM = set_index_and_display(dt_2018_YM, ['date_month', 'crypto_id'])
dt_2019_YM = set_index_and_display(dt_2019_YM, ['date_month', 'crypto_id'])
dt_2020_YM = set_index_and_display(dt_2020_YM, ['date_month', 'crypto_id'])
dt_2021_YM = set_index_and_display(dt_2021_YM, ['date_month', 'crypto_id'])
dt_2022_YM = set_index_and_display(dt_2022_YM, ['date_month', 'crypto_id'])
dt_2023_YM = set_index_and_display(dt_2023_YM, ['date_month', 'crypto_id'])
dt_2024_YM = set_index_and_display(dt_2024_YM, ['date_month', 'crypto_id'])

In [49]:
# Create a new dataframe all the years
dt_50_df_YM = pd.concat([dt_2017_YM, dt_2018_YM, dt_2019_YM, dt_2020_YM, dt_2021_YM, dt_2022_YM, dt_2023_YM, dt_2024_YM])
dt_50_df_YM.head(15)

                         open      close   diff_oc     mean_oc        high  \
date_month crypto_id
2017-08    BTC        4261.48   4724.890   463.410   4493.1850   4745.4200
           ETH         301.13    384.790    83.660    342.9600    393.7100
2017-09    BTC        4724.89   4378.510  -346.380   4551.7000   4939.1900
           ETH         384.79    304.360   -80.430    344.5750    394.3900
2017-10    BTC        4378.49   6463.000  2084.510   5420.7450   6498.0100
           ETH         304.36    304.900     0.540    304.6300    354.0000
2017-11    BNB           1.50      1.950     0.450      1.7250      2.1997
           BTC        6463.00   9838.960  3375.960   8150.9800  11300.0300
           ETH         304.89    427.430   122.540    366.1600    515.0000
           NEO          36.00     32.438    -3.562     34.2190     46.0000
2017-12    BNB           1.95      8.530     6.580      5.2400     11.3000
           BTC        9837.00  13716.360  3879.360  11776.6800  19798.6800
           ETH         428.05    733.980   305.930    581.0150    864.9000
           LTC         272.00    223.690   -48.310    247.8450    366.9600
           NEO          32.38     74.853    42.473     53.6165     83.8000

                            low     diff_hl      mean_hl        volume  \
date_month crypto_id
2017-08    BTC        3400.0000   1345.4200   4072.71000  1.001564e+04
           ETH         144.2100    249.5000    268.96000  8.265256e+04
2017-09    BTC        2817.0000   2122.1900   3878.09500  2.763419e+04
           ETH         192.0000    202.3900    293.19500  1.679371e+05
2017-10    BTC        4110.0000   2388.0100   5304.00500  4.162639e+04
           ETH         272.2000     81.8000    313.10000  2.311378e+05
2017-11    BNB           0.5000      1.6997      1.34985  8.492160e+06
           BTC        5325.0100   5975.0200   8312.52000  1.084880e+05
           ETH         274.7300    240.2700    394.86500  5.581401e+05
           NEO          29.1040     16.8960     37.55200  4.331592e+05
2017-12    BNB           1.8801      9.4199      6.59005  3.376583e+07
           BTC        9380.0000  10418.6800  14589.34000  4.084767e+05
           ETH         375.0100    489.8900    619.95500  1.709681e+06
           LTC         177.5800    189.3800    272.27000  5.350655e+05
           NEO          30.2090     53.5910     57.00450  5.149193e+06

                      number_of_trades
date_month crypto_id
2017-08    BTC                   69180
           ETH                   73552
2017-09    BTC                  228745
           ETH                  177180
2017-10    BTC                  303389
           ETH                  214648
2017-11    BNB                   41544
           BTC                  577424
           ETH                  362825
           NEO                   24742
2017-12    BNB                  675039
           BTC                 3082883
           ETH                 1717737
           LTC                  317072
           NEO                  367588

In [420]:
'''
# Transfor 'diff_oc' and 'diff_hl' to percentage, 2 decimals and use character '%'

data_by_year[2017]['diff_oc'] = data_by_year[2017]['diff_oc'].apply(lambda x: f'{x:.2f}%')
data_by_year[2017]['diff_hl'] = data_by_year[2017]['diff_hl'].apply(lambda x: f'{x:.2f}%')
data_by_year[2017]

data_by_year[2017] = transform_to_percentage(data_by_year[2017], ['diff_oc', 'diff_hl'])
data_by_year[2017] 
'''

"\n# Transfor 'diff_oc' and 'diff_hl' to percentage, 2 decimals and use character '%'\n\ndata_by_year[2017]['diff_oc'] = data_by_year[2017]['diff_oc'].apply(lambda x: f'{x:.2f}%')\ndata_by_year[2017]['diff_hl'] = data_by_year[2017]['diff_hl'].apply(lambda x: f'{x:.2f}%')\ndata_by_year[2017]\n\ndata_by_year[2017] = transform_to_percentage(data_by_year[2017], ['diff_oc', 'diff_hl'])\ndata_by_year[2017] \n"

In [421]:
# transform number_of_trades to millions
dt_50_df_YM['number_of_trades'] = dt_50_df_YM['number_of_trades'] / 1000000
dt_50_df_YM

                           open      close    diff_oc     mean_oc       high  \
date_month crypto_id
2017-08    BTC        4261.4800  4724.8900   463.4100  4493.18500  4745.4200
           ETH         301.1300   384.7900    83.6600   342.96000   393.7100
2017-09    BTC        4724.8900  4378.5100  -346.3800  4551.70000  4939.1900
           ETH         384.7900   304.3600   -80.4300   344.57500   394.3900
2017-10    BTC        4378.4900  6463.0000  2084.5100  5420.74500  6498.0100
...                         ...        ...        ...         ...        ...
2024-01    LINK         14.9420    15.4290     0.4870    15.18550    16.6100
           LTC          72.8300    66.7600    -6.0700    69.79500    77.1900
           MANA          0.5208     0.4319    -0.0889     0.47635     0.5512
           MATIC         0.9708     0.7872    -0.1836     0.87900     1.0333
           NEAR          3.6510     2.8230    -0.8280     3.23700     4.3310

                            low    diff_hl     mean_hl        volume  \
date_month crypto_id
2017-08    BTC        3400.0000  1345.4200  4072.71000  1.001564e+04
           ETH         144.2100   249.5000   268.96000  8.265256e+04
2017-09    BTC        2817.0000  2122.1900  3878.09500  2.763419e+04
           ETH         192.0000   202.3900   293.19500  1.679371e+05
2017-10    BTC        4110.0000  2388.0100  5304.00500  4.162639e+04
...                         ...        ...         ...           ...
2024-01    LINK         12.2000     4.4100    14.40500  1.812193e+08
           LTC          57.7100    19.4800    67.45000  1.912527e+07
           MANA          0.3945     0.1567     0.47285  5.011406e+08
           MATIC         0.6913     0.3420     0.86230  3.067481e+09
           NEAR          2.4500     1.8810     3.39050  5.744076e+08

                      number_of_trades
date_month crypto_id
2017-08    BTC                0.069180
           ETH                0.073552
2017-09    BTC                0.228745
           ETH                0.177180
2017-10    BTC                0.303389
...                                ...
2024-01    LINK               5.493614
           LTC                3.628947
           MANA               1.252536
           MATIC              6.252084
           NEAR               5.059315

[225 rows x 10 columns]